Check the modeling notebook for **predictions**

# Load the xgb scored new data set

In [5]:
import pandas as pd

import sys
import os
import joblib

# Add the parent directory's 'scripts' folder to the Python path
sys.path.append(os.path.abspath('../scripts'))

from offers import recommend_mtn_offer
from recommender import recommend

df = pd.read_csv('../data/cleaned/users_segmented_xgb_score.csv')
df.head()

,user,avg_data_before_upgrade,std_before,total_recharge_before,avg_data_after_upgrade,std_after,total_recharge_after,days_active_after,time_to_first_data_use,recharge_growth,increased_usage,user_segment,xgb_score,xgb_pred
0,225798700001,156802.990,NaN,113.47,406223.960000,6.458136e+05,7574.878261,27,0.0,7461.408261,1,medium,0.950954,1
1,225798700012,88923.625,125756.996490,124.37,471228.741111,6.124226e+05,14863.328261,53,0.0,14738.958261,1,medium,0.962576,1
2,225798700014,NaN,NaN,NaN,669976.774043,1.080963e+06,15855.988261,45,0.0,NaN,0,high,0.000051,0
3,225798700016,152250.540,141042.183882,1885.47,783516.914167,1.818749e+06,8418.270000,23,0.0,6532.800000,1,high,0.995371,1
4,225798700032,NaN,NaN,NaN,458873.072281,5.792486e+05,10687.680000,56,0.0,NaN,0,medium,0.000051,0

Sort Users by Score and Flag Top 20%

In [6]:
df_test = pd.read_excel('../data/raw/mtn_upsell_uncleaned.xlsx')
df_test.sample(10)

,dates,Phone Number,total_reloads,total_reload_amount,imei,brand_name,model_name,device_category,data_kb
1198,20240928,225798765453,3,800.0,2068091670,TECNO,POP 2 PLUS (BA2),5,13640.226562
7604,20250313,225798765488,1,100.0,1693776808,TECNO,T101,7,0.000000
4458,20241215,225798765481,1,50.0,1976046844,TECNO,T301,7,0.000000
5489,20250107,225798765475,2,285.0,1478678766,TECNO,T528,4,58.569336
2551,20241030,225798765444,1,100.0,2179713770,TECNO,T101,7,0.000000
1814,20241012,225798765462,1,100.0,1190427788,TECNO,T371,4,193.073242
2922,20241108,225798765455,1,150.0,1743622375,TECNO,SPARK 20 PRO PLUS (KJ7),5,11.244141
4982,20241227,225798765443,2,430.0,2062556428,TECNO,T402,4,0.000000
1769,20241011,225798765460,2,250.0,1837999292,TECNO,T101,7,0.000000
4846,20241224,225798765439,1,250.0,1670996446,TECNO,T301,7,0.000000

In [7]:
mask1 = df_test['Phone Number'] == 225798765472
mask2 = df_test['Phone Number'] == 225798765488
mask3 = df_test['Phone Number'] == 225798765450

df_user1 = df_test[ mask1 | mask2 | mask3 ]
df_user1.shape

(725, 9)

In [8]:
# Recommend offer to the user
recommend(df_user1)

Multiple users mode detected.
Handling multiple users
Imputed missing values in total_reload_amount using mean: 322.73
Removed all rows where device_category == 5 (smartphone).

,avg_data_after_upgrade,avg_data_before_upgrade,increased_usage,std_before,total_recharge_before,user_segment,recharge_growth,offer,reason
0,770425.937500,11998.663929,0,124459.123847,33999.402886,non,7570.662598,FREE 100MB,User unknown was recommended MTN Ihereze becau...
1,138681.453125,0.006902,1,0.033477,17850.990000,low,15820.671875,Gwamon 7GB + 30SMS,User unknown was recommended MTN Ihereze becau...
2,768756.937500,14339.053904,0,116133.005616,50277.515772,non,4497.798340,FREE 100MB,User unknown was recommended MTN Ihereze becau...