Check the modeling notebook for **predictions**

# Load the xgb scored new data set

In [1]:
import pandas as pd

import sys
import os

# Add the parent directory's 'scripts' folder to the Python path
sys.path.append(os.path.abspath('../scripts'))

from campaigns import campaigns

df = pd.read_csv('../data/cleaned/users_segmented_xgb_score.csv')
df.head()

,user,avg_data_before_upgrade,std_before,total_recharge_before,avg_data_after_upgrade,std_after,total_recharge_after,days_active_after,time_to_first_data_use,recharge_growth,increased_usage,user_segment,xgb_score,xgb_pred
0,225798700001,156802.990,NaN,113.47,406223.960000,6.458136e+05,7574.878261,27,0.0,7461.408261,1,medium,0.950954,1
1,225798700012,88923.625,125756.996490,124.37,471228.741111,6.124226e+05,14863.328261,53,0.0,14738.958261,1,medium,0.962576,1
2,225798700014,NaN,NaN,NaN,669976.774043,1.080963e+06,15855.988261,45,0.0,NaN,0,high,0.000051,0
3,225798700016,152250.540,141042.183882,1885.47,783516.914167,1.818749e+06,8418.270000,23,0.0,6532.800000,1,high,0.995371,1
4,225798700032,NaN,NaN,NaN,458873.072281,5.792486e+05,10687.680000,56,0.0,NaN,0,medium,0.000051,0

,user,avg_data_before_upgrade,std_before,total_recharge_before,avg_data_after_upgrade,std_after,total_recharge_after,days_active_after,time_to_first_data_use,recharge_growth,increased_usage,user_segment
0,225798765432,0.130697,0.452746,3091.482637,282355.658691,746850.094482,10600.000000,14,0,7508.517363,1,high
1,225798765433,NaN,NaN,NaN,390674.369565,760990.974794,15979.550000,10,0,NaN,0,high
2,225798765434,NaN,NaN,NaN,77583.160156,109719.157305,275.000000,1,0,NaN,0,low
3,225798765435,0.261393,0.452746,450.000000,156755.774613,284752.858237,25581.482637,26,0,25131.482637,1,medium
4,225798765436,7.143986,32.579923,13800.000000,42745.234739,113248.911365,32883.892637,23,0,19083.892637,1,low

# Generate the campaign target list.

Sort Users by Score and Flag Top 20%

In [12]:
df_sorted = df.sort_values(by='xgb_score', ascending=False)
top_20_count = int(len(df_sorted) * 0.2)
df_sorted['upsell_target'] = 0
df_sorted.iloc[:top_20_count, df_sorted.columns.get_loc('upsell_target')] = 1

Suggest campaigns for each user

In [17]:
df_sorted['suggested_Campaign'] = df_sorted.apply(campaigns, axis=1)

save the new dataframe of data upsell targets

In [18]:
df_sorted.to_csv('../data/cleaned/data_upsell_targets.csv', index=False)